.consultation {
    background-image: url('../img/consultation/bg.png');
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0 108px;

    &__descr {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: $light;
        margin-top: 8px;
    }
    &__form {
        margin-top: 36px;
    }
}