.slider {
    padding: 108px 0 107px;

    &__wrapper {
        position: relative;
    }
    .arrows {
        position: absolute;
        top: 50%;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__body {
        max-width: 750px;
        margin: 0 auto;
    }
    &__item {
        img {
            width: 100%;
        }
    }
}