.title {
    @media (max-width: $md2) {
        &_left {
            text-align: center;
        }
    }
    @media (max-width: $md3) {
        font-size: 28px;
        line-height: 40px;
    }
    @media (max-width: $minw) {
        &_left {
            br {
                display: none;
            }
        }
    }
}