.consultation {
    @media (max-width: $md2) {
        &__descr {
            text-align: center;
        }
        &__form {
            display: flex;
            justify-content: center;
        }
    }
    @media (max-width: $md6) {
        &__descr {
            br {
                display: none;
            }
        }
    }
}