@import 'base/variables';

/*font-family: 'MuseoModerno', cursive;*/

* {
    box-sizing: border-box;
    font-family: 'MuseoModerno', cursive;
    font-style: normal;
    margin: 0;
    border: none;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

@import 'sections/main';
@import 'sections/header';
@import 'sections/buttons';
@import 'sections/advantages';
@import 'sections/titles';
@import 'sections/consultation';
@import 'sections/forms';
@import 'sections/slider';

@import 'media/media';