@import 'base/variables';

/*font-family: 'Museo Sans';*/

* {
    box-sizing: border-box;
    font-family: 'Museo Sans';
    font-style: normal;
    margin: 0;
    padding: 0;
    border: none;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

@import 'sections/main';
@import 'sections/header';
@import 'sections/buttons';
@import 'sections/advantages';
@import 'sections/titles';
@import 'sections/consultation';
@import 'sections/forms';
@import 'sections/slider';
@import 'sections/catalog';
@import 'sections/reviews';
@import 'sections/footer';
@import 'sections/modal';

@import 'media/media';